@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

body, html {
    font-family: "Roboto slab";
    background: #eaeaea;
    color: #1a1a1a;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 78px;
}

h1, h2 {
    text-align: center;
}

hr {
    width: 75%;
    margin: 50px auto;
}

#example {
    text-align: center;
    display: block;
}

.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 37, 41, 0.5);
    height: 100vh;
}

.spinner .background {
    fill: #AAA;
}
.spinner .line {
    animation: PacMan 5s infinite;
    fill: none;
    stroke: #8B0033;
    stroke-width: 25;
}
.spinner .spinner {
    animation: Spin 2s infinite linear;
}
@keyframes PacMan {
    0% {
        stroke-dasharray: 79px 79;
    }
    50% {
        stroke-dasharray: 1px 79;
    }
    100% {
        stroke-dasharray: 79px 79;
    }
}
@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}